<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="IconText" value="Jadefire DEBUG"/>
		<add key="IconPath" value="Resources/jadefire.ico"/>
		<add key="MindfulBell_Interval" value="0.25"/>
		<add key="MindfulBell_Volume" value="0.05"/>
		<add key="MindfulBell_SoundPath" value="Resources/bowl.wav"/>
	</appSettings>
</configuration>